.brand-logo h3 {
  font-style: 20px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 5px 14px;
  /* background: #e0f7fd; */
  color: #652f9d;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.brand-logo .logo-img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.brand-logo h3 span {
  color: #e0f9fd;
  font-weight: 700;
  font-size: 16px;
  margin-left: 8px;
}
@media (min-width: 1300px) {
  #main-wrapper.menu-toggle .nav-header .logo-title {
    display: none;
  }
}
@media (max-width: 768px) {
  .brand-logo .logo-img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #471d9f;
    box-shadow: 0px 0 4px 0 #00000047;
  }
}
@media (max-width: 1023px) {
  #main-wrapper.menu-toggle .nav-header .logo-title {
    display: none;
  }
  #main-wrapper .nav-header .logo-title {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #main-wrapper .brand-logo {
    margin-left: -24px;
  }
}
